body {
    background-color: #12004a;
}
.cont{
    width: 100%;
    justify-content: space-evenly;
    padding-top: 80px;
    
}
.box{
    height: 200px;
    width: 300px;
    margin-left: 150px;
    padding-left: 80px;
    background: #12004a;
    display: inline-block;
    box-shadow: 0px 0px 20px whitesmoke;
    border-radius: 10px;
}
.box h2{
    margin-top: 40px;
    padding-bottom: 20px;
    font-size: 2rem;
    font-family: 'Roboto Slab', serif;
    color: white;
}
.box1{
    margin-left: 400px;
    padding-left: 80px;
    background: #12004a;
    display: inline-block;
    box-shadow: 0px 0px 20px whitesmoke;
    border-radius: 10px;
    height: 300px; 
    width: 700px; 
    color: white; 
    margin-bottom: 100px;
}
.box1 h2{
    margin-top: 40px;
    padding-bottom: 20px;
    font-size: 2rem;
    font-family: 'Roboto Slab', serif;
    color: white;
}
.box label{
    padding-bottom: 100px;
    font-family: 'Roboto Slab', serif;
    color: white;
}
.box input{
    border-radius: 5px white;
}
.btn {
    display: flex;
    align-items: center;
    margin-top: 100px;
    justify-content: center;
    border-radius: 10px;
    color: aliceblue;
}
.copyright {
    padding: 40px;
    text-align: center;
    font-size: xx-large;
    padding-top: 50px;
    padding-bottom: 25px;
    font-family: 'Roboto Slab', serif;
    color: white;
  }
  input[type=submit] {
    background:url(../assests/submit.png);
    border:0;
    display:block;
    height: 100px;
    width: 200px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
@media screen and (max-width: 500px){
    .box{
        padding-left: 40px;
        margin-left: 90px;
    }
    .box1{
        padding-left: 40px;
        margin-left: 90px;
        height: 350px;
        width: 300px;
    }
}