body{
    background-color: #12004a;
}
.nav{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: black;
    opacity: 100%;
}
.corosuel{
    background-image: url('assests/bg.jpeg'); 
    height: 950px;
}
.pad{
    padding-left: 80vh;
}
@media screen and (max-width:665px) {
    .pad{
        padding-left: 50vh;
    }
}
@media screen and (max-width:500px) {
    .pad{
        padding-left: 30vh;
    }
}
.heading h1{
    padding-left: 100px;
    font-weight: 900;
    font-size: 4em;
    color: white;
    font-family: 'Roboto Slab', serif;
}
.space{
    padding-top: 80px;
}
.rules{
    color: white;
    padding-left: 100px;
    font-weight: 200;
    font-size: 1.5em;
    font-family: 'Roboto Slab', serif;
}
.btn {
    padding-top: 100px;
    padding-left: 100px;
    height: 300px;
}
.btn img{
    height: 100px;
}